##引入宏定义
$!define

#set($tableName = $tool.append($tableInfo.name, "DTO"))
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/dto"))

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}dto;

##使用全局变量实现默认包导入
$!autoImport
import java.io.Serializable;
import lombok.Data;
import lombok.experimental.Accessors;

##使用宏定义实现类注释信息
#tableComment("实体类")
@Data
@Accessors(chain = true)
public class $!{tableInfo.name}DTO implements Serializable {
#foreach($column in $tableInfo.fullColumn)
    
    #if(${column.comment})
    /**
     * ${column.comment}
     */
    #end
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end
}